{% extends "base.html" %}
    {% block title %}Лента записей{% endblock %}
    {% block content %}
    <h1>Лента записей</h1>                        
    <!-- Перебираем в цикле все посты -->
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ post.0.location}}             
        </li>
        <li>
          Дата: {{ post.0.date}} 
        </li>
        <li>
          Категория: <a href="http://127.0.0.1:8000/category/not-my-day/">not-my-day</a>
        </li>
      </ul>          
      <!-- Первые 10 слов -->
      <p>
        {% for fragment in post %}
          {% if fragment.id == 2 %}
            {{ fragment.text|truncatewords:10  }}
          {% endif %}
        {% endfor %}   
      </p>
      <a href="http://127.0.0.1:8000/posts/2/">Читать полный текст</a>
    </article>
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ post.1.location}}               
        </li>
        <li>
          Дата: {{ post.1.date}} 
        </li>
        <li>
          Категория: <a href="http://127.0.0.1:8000/category/not-my-day/">not-my-day</a>
        </li>
      </ul>
      <!-- Первые 10 слов -->
      <p>
        {% for fragment in post %}
        {% if fragment.id == 1 %}
          {{ fragment.text|truncatewords:10  }}
        {% endif %}
      {% endfor %} 
      </p>
      <a href="http://127.0.0.1:8000/posts/1/">Читать полный текст</a>
    </article>
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ post.2.location}}               
        </li>
        <li>
          Дата: {{ post.2.date}} 
        </li>
        <li>
          Категория: <a href="http://127.0.0.1:8000/category/travel/">travel</a>
        </li>
      </ul>
      <!-- Первые 10 слов -->
      <p>
        {% for fragment in post %}
        {% if fragment.id == 0 %}
          {{ fragment.text|truncatewords:10  }}
        {% endif %}
      {% endfor %}
      </p>
      <a href="http://127.0.0.1:8000/posts/0/">Читать полный текст</a>
    </article>                 
    {% endblock %}
</html>
